.App{
    background: #a8dadc;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    .main-container{
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #e63946;
        .action-group{
            width: 100%;
            display: flex;
            justify-content: center;
            .search-bar{
                width: 20%;
                height: 40px;
                background: #f1faee;
                text-decoration: none;
                border: none;
                padding-left: 30px;
            }
            .search-btn{
                height: 42px;
                border: none;
                background: #e63946;
                color: #f1faee;
                cursor: pointer;
            }
        }
        
    }
    .data-container{
        margin: 0 auto;
        width: 80%;
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

@media(max-width: 700px){
    .App{
        height: 108vh;
        background-position: 50% 30%;
        .main-container{
            .action-group{
                .search-bar{
                    width: 50%;    
                }
            }
        }
        .data-container{
            margin: 0 auto;
            width: 95%;
            .cards{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        .loader{
            margin: 0 auto;
        }
    }
    
        
}